*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    font-size: 20px;
    color: rgb(15, 15, 15);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: none;
    background-size: 100%;
}
.container{
    max-width: 700px;
    width: 100%;
    background-color: rgb(240, 242, 243);
    padding: 25px 35px;
    border-radius: 10px;

}
.container.title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container form .User-Details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
     margin: 20px 0 12px 0;
}
form .User-Details .input-box{
    margin-bottom: 15px;
    width: calc(100% /2 - 20px);
}
.User-Details .input-box  .details{
    display: block;
    font-weight: 500px;
    margin-bottom: 5px;
}
.User-Details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #2d2d2d;
    padding-left: 15px;
    font-size: 14px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.User-Details .input-box input:focus,
.User-Details .input-box input:valid{
    border-color: #0b0b0b;
}
form .genre-details.genre-title{
    font-size: 20px;
    font-weight: 500;
}
form .genre-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
/*.genre-details .category label{
    display: flex;
    align-items: center;
}
.genre-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
}
#dot-1:checked ~ .category label .one{
    border-color: #d9d9d9;
    background: #d9d9d9;
}*/
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background: linear-gradient(135deg ,#070707, #100f10);
}
.genre-details{
    font-size: 20px;
    font-weight: 500;
}
.genre-details .Radio{
    width: 80%;
    justify-content: space-between;
}
